body {
	background-color: light;
}

#footer {
	font-size: 20px;
	padding: 30px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?cs=srgb&dl=pexels-ella-olsson-1640773.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
